
.mainsection{
	display: flex;
margin: 50px 1%;
scroll-behavior:smooth;

}
.leftbarsection{
	flex-basis: 20%;
	margin-right: 20px;

}
.product-continer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-basis: 75%;
}
.leftbarul{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.carts li a{
	color: black;
}
.carts{
	padding: 10px;
	display: flex;
	position: relative;
	justify-content: space-between;
}
.subcat{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	width: 70vw;
	position: absolute;
	left: 100%;
	z-index: 100;
	display: none;
	background: white;
	transition: display 0.3s ease;
}

.carts:hover .subcat{
	display: block;
	
}