

.items-holders{
	width: 250px;
	position: relative;
	padding: 5px;
	margin-bottom: 30px;
}
.itemimgdiv{
	width: 200px;
}

.itemimgdiv img{
	width: 100%;
}
.items-holders a h1{
	font-size: 14px;
	color: var(--primary-color);
	font-weight: 600;
	margin-bottom: 8px;
}
.items-holders a p{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 8px;
}
.itemflag{
	position: absolute;
	top: 0;
	padding: 5px 10px;
	background: var(--primary-color);
	height: 15px;
}
.itemflag p{
	color: white;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}
.addtocartdiv{
	display: flex;
	align-items: center;
	gap: 50px;
}
.addtocartdiv  a{
	background: var(--primary-color);
		padding: 10px;
		margin-right: 10px;
		border-radius: 5px;
		color: white;
		font-size: 20px;
		font-weight: 600;
}
.addtocartdiv a img{
	width: 20px;
}

.rating .fa-solid,.fa-regular{
	color: #F5C60D;
	margin-bottom: 20px;
}

.addtocartdiv{
	position: absolute;
	top: 55%;
	transition: display 0.3s ease-in;
	display: none;
}
.items-holders:hover{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	cursor: pointer;
}
.items-holders:hover .addtocartdiv{
	width: 100%;
	display: block;
}
/* details page */
.detailspage{
	display: flex;
	justify-content: space-between;
	width: 80vw;
	margin: 10px auto;
	
}
.imagedetails{
	width: 400px;
	height: 320px;
}
.detailspage .imagedetails img{
	width: 100%;
	height: 100%;
}
.detailscartbtn a img{
	width: 20px;
}

.itemsinfomation{
	margin-top: 30px;
}

.itemsinfomation h1{
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 600;
}

.detailspage .rating{
	margin-top: 10px;
}

.detailscartbtn{
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.detailscartbtn a{
	margin-right: 20px;
	padding: 10px;
	border-radius: 6px;
	background: var(--primary-color);
	color: white;
	font-size: 16px;
	font-weight: 600;
}